#game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}
#section01{
    border-radius: 8px;
    width: fit-content;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 7.5px;
    background-color: #ffffff;
}
.end-msj-looser{
    font-size: 40px;
    font-weight: bold;
    color: red;
}
.end-msj-winner{
    font-size: 40px;
    font-weight: bold;
    color: green;
}
.end-msj-stats{
    width: 550px;
    color: #ffffff;
    font-size: 25px;
}
button{
    height: 80px;
    width: 80px;
    margin: 2px;
    padding: 15px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #c6c6c681;
}
.section02{
    padding-top: 7.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section02 div{
    display: flex;
    gap: 40px;
    font-size: 30px;
}
.reset-msj{
    font-size: 40px;
    font-weight: bold;
    color: #ff21ac;
    cursor: pointer;
}
.reset-msj:hover{
    color: #ff7fd0;
}
.tap{
    font-size: 47px;
    color: #ff21ac;
}
.find{
    font-size: 30px;
    padding-bottom: 10px;
}