.hero{
    padding: 10px;
}
.hero h1{
    font-size: 90px;
    padding-bottom: 10px;
}
.logo{
    width: 70px;
}
.ready{
    padding: 10px;
    font-size: 30px;
}
.start{
    padding: 15px;
    font-size: 63.5px;
}
.start:hover{
    color: #8fceff;
}
